<div class="resetContainer" fxLayout="row">
    <div class="leftContainer" fxFlex="35%">
        <div class="playcard color">
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus id quia repellendus illum ipsum. Perspiciatis, sunt distinctio! Facere, distinctio nam. Assumenda similique molestias, soluta natus ab in blanditiis repudiandae? Sit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus id quia repellendus illum ipsum. Perspiciatis, sunt distinctio! Facere, distinctio nam. Assumenda similique molestias, soluta natus ab in blanditiis repudiandae? Sit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus id quia repellendus illum ipsum. Perspiciatis, sunt distinctio! Facere, distinctio nam. Assumenda similique molestias, soluta natus ab in blanditiis repudiandae? Sit.
            </div>
        </div>
    </div>
    <!-- <div class="divider">
    </div> -->
    <div class="rightContainer" fxFlex="40%" fxFlexOffset="20%">
        <div class="playcard" >
            <div class="title">
                <span>Forgot Password</span>
            </div>
            <div class="divider"></div>
            <div class="content">
                <div fxLayout="row">
                    <form [formGroup]="forgotPasswordForm" novalidate fxFlex="100%">
                        <div fxLayout="row" class="input-pos">
                            <md-form-field fxFlex="100%" class="field-pos">
                              <input mdInput placeholder="Email" type="text" formControlName="email">
                              <md-error *ngIf="forgotPasswordForm.controls.email.hasError('pattern')">
                                Please enter a valid email address
                              </md-error>
                              <md-error *ngIf="forgotPasswordForm.controls.email.hasError('required')">
                                Email is required
                              </md-error>
                            </md-form-field>
                        </div>
                    </form>
                </div>
            </div>
            <div class="action" fxLayout="column" fxLayoutAlign="center center">
                <button (click)="forgotPassword()" md-raised-button class="btn">
                    <md-icon class="icon">person</md-icon>Submit
                </button>
                <div class="link">
                    <a routerLink="/home/login">BACK TO LOGIN</a>
                </div>
            </div>
        </div>
    </div>
</div>
