<div class="registerContainer" fxLayout="row">
        <div class="leftContainer" fxFlex="35%">
            <div class="playcard color">
                <div class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus id quia repellendus illum ipsum. Perspiciatis, sunt distinctio! Facere, distinctio nam. Assumenda similique molestias, soluta natus ab in blanditiis repudiandae? Sit.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus id quia repellendus illum ipsum. Perspiciatis, sunt distinctio! Facere, distinctio nam. Assumenda similique molestias, soluta natus ab in blanditiis repudiandae? Sit.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus id quia repellendus illum ipsum. Perspiciatis, sunt distinctio! Facere, distinctio nam. Assumenda similique molestias, soluta natus ab in blanditiis repudiandae? Sit.
                </div>
            </div>
        </div>
        <!-- <div class="divider">
        </div> -->
        <div class="rightContainer" fxFlex="45%" fxFlexOffset="20%">
            <div class="playcard" >
                <div class="title">
                    <span>Register</span>
                </div>
                <div class="divider"></div>
                <div class="content">
                    <div fxLayout="row">
                        <form [formGroup]="registerForm" novalidate fxFlex="100%">
                            <div fxLayout="row" class="input-pos" fxLayoutAlign="space-between center">
                                <mat-form-field fxFlex="48%" class="field-pos">
                                  <input matInput placeholder="First Name" type="text" formControlName="firstName">
                                  <mat-error *ngIf="registerForm.controls.firstName.hasError('required')">
                                    First Name is required
                                  </mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="48%" class="field-pos">
                                    <input matInput placeholder="Last Name" type="text" formControlName="lastName">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" class="input-pos" fxLayoutAlign="space-between center">
                                <mat-form-field fxFlex="48%">
                                  <input appValidateOnblur appEmailExist matInput placeholder="Email" type="email" formControlName="email">
                                  <mat-error *ngIf="registerForm.controls.email.hasError('required')">
                                    Email is required
                                  </mat-error>
                                  <mat-error *ngIf="registerForm.controls.email.hasError('pattern')">
                                    Please enter a valid email
                                  </mat-error>
                                  <mat-error *ngIf="registerForm.controls.email._status === 'INVALID'">
                                    This email has been already taken.
                                  </mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="48%">
                                    <input matInput placeholder="Phone Number" type="text" formControlName="mobileNumber">
                                    <mat-error *ngIf="registerForm.controls.mobileNumber.hasError('required')">
                                        Phone Number is required
                                    </mat-error>
                                    <mat-error *ngIf="registerForm.controls.mobileNumber.hasError('pattern')">
                                        Please enter a valid phone number
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" class="input-pos" *ngIf="isVendor">
                                <mat-select fxFlex="50%" placeholder="Category" formControlName="categoryId" floatPlaceholder="always">
                                    <mat-option *ngFor="let category of categoryList" [value]="category.categoryId">{{category.name}}</mat-option>
                                    <!-- <mat-error *ngIf="registerForm.controls.categoryId.hasError('required')">
                                        Category is required
                                    </mat-error> -->
                                </mat-select>
                            </div>
                            <div fxLayout="row" class="input-pos" fxLayoutAlign="flex-start center">
                                <mat-form-field fxFlex="48%">
                                    <input matInput placeholder="Password" type="password" formControlName="password" appCompareTo="confirmPassword" reverse="true">
                                    <mat-error *ngIf="registerForm.controls.password.hasError('required')">
                                    Password is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" class="input-pos" fxLayoutAlign="flex-start center">
                                <mat-form-field fxFlex="48%">
                                    <input matInput placeholder="Confirm Password" formControlName="confirmPassword" appCompareTo="password" type="password">
                                    <mat-error *ngIf="registerForm.controls.confirmPassword.hasError('required')">
                                        Confirm Password is required
                                    </mat-error>
                                    <mat-error *ngIf="registerForm.controls.confirmPassword._status==='INVALID'">
                                        Password does not match
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="action" fxLayout="column" fxLayoutAlign="center center">
                    <button mat-raised-button class="btn" (click)="register()">
                        <mat-icon class="icon">person</mat-icon>REGISTER
                    </button>
                    <div class="link">
                        <a routerLink="/home/login">GO BACK TO LOGIN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>